<section class="container-fluid bg-light py-3">
  <h1>FEW RULES</h1>
  <div class="grid align-items-center justify-content-around">
    <div class=" grid-item grid-item-1 card wow fadeIn">
      <div class="card-body">
        <h4 class="card-title">General Rules</h4>
        <ul class="lead">
          <li>The student shall abide by the rules and regulations enforced and those which may hereafter be made by
            the authorities of the college. Notice informing the enforcement of such rules are displayed on the college
            notice boards from time to time. </li>
          <li>The student shall not undertake or participate or associate with any activity, inside or outside the
            college that may interfere with the orderly administration and smooth working of the college. </li>
          <li>The student must carry a valid identity card (with all proper necessary entry and lamination) while in
            the college campus and the same must be produced whenever demanded by any member of the staff. A student
            without identity card my not be allowed to enter the college premises.</li>
          <li>It is the responsibility of students to read the notice boards regularly and also see the college website
            for important announcements made by the college office from time to time and they will not be given any
            concession or excuse on ground of ignorance</li>
        </ul>
      </div>
    </div>
    <div class=" card grid-item grid-item-2 wow fadeIn" data-wow-delay="500ms">
      <div class="card-body">
        <h4 class="card-title">Attendance of Learners: Important Ordinance</h4>
        <p class="lead">Attendance in all Lectures, practicals, tutorials, tests, internal assessment and examination
          is compulsory. According to ordinances O.06086 overall 75% attendance and 50% attendance in each subject of
          the total number of days on which lectures are delivered for Term I and Term II separately is compulsory. </p>
      </div>
    </div>
    <div class="card grid-item grid-item-3 wow fadeIn" data-wow-delay="1000ms">
      <div class="card-body">
        <h4 class="card-title">Ordinance, O.125: </h4>
        <p class="lead">
          To keep terms at the college, a student must complete to the satisfaction of the Principal the course
          prescribed for such terms for the class to which the student belongs.
        </p>
      </div>
    </div>
  </div>
</section>