<nav class="navbar navbar-expand-lg navbar-dark w-100  bg-info" style="z-index: 10000;">
  <a class="navbar-brand" href="#"><i class="fas fa-arrow-left"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-info-circle"></i> About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-cubes"></i> Facilities</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-book"></i> Programs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-clipboard-list"></i> Rules</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-address-book"></i> Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->
<div class="container my-3 bg-light p-2">
  <div class="row">
    <div class="image col-sm-12 col-md-6 col-lg-3">
      <img src="/assets/english.jpeg" class="w-100 h-auto" alt="">
    </div>
    <div class="descr col-sm-12 col-md-6 col-lg-9">
      <h4>BACHELORS IN MASS MEDIA</h4>
      <h5>ELIGIBILITY</h5>
      <div class="lead">
        A candidate for being eligible for admission to the three year degree course in Bachelor of Mass Media shall
        have passed the H.S.C. (Std. XII) examination of Maharashtra State Board of Higher Secondary Education or its
        equivalent from Science, Arts or Commerce Stream.
      </div>
    </div>
    <div class="content col-12  m-3  row justify-content-center">
      <h5 class="col-12">PROGRAM STRUCTURE</h5>
      <h6 class="col-12">FY BMM PROGRAM</h6>
      <div class="card col-sm-12 col-md-5 ">
        <div class="card-body">
          <p class="card-title">
            SEMESTER I
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Fundamentals Of Mass Communication</li>
            <li>Introduction To Computers</li>
            <li>Landmark Events In 20th Century History</li>
            <li>Introduction To Sociology</li>
            <li>Introduction To Economics</li>
          </ul>
        </div>
      </div>
      <div class="card col-sm-12 col-md-5 ">
        <div class="card-body">
          <p class="card-title">
            SEMESTER II
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Political Concepts And The Indian Political System</li>
            <li>Principles Of Management And Marketing</li>
            <li>Introduction To Psychology</li>
            <li>Translation Skills</li>
            <li>An Introduction To Litterateurs</li>
          </ul>

        </div>
      </div>
      <div class="col-12"><br></div>
      <h6 class="col-12">FY BMM PROGRAM</h6>
      <div class="card col-sm-12 col-md-5 ">
        <div class="card-body">
          <p class="card-title">
            SEMESTER I
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Fundamentals Of Mass Communication</li>
            <li>Introduction To Computers</li>
            <li>Landmark Events In 20th Century History</li>
            <li>Introduction To Sociology</li>
            <li>Introduction To Economics</li>
          </ul>
        </div>

      </div>


      <div class="card col-sm-12 col-md-5 ">
        <div class="card-body">
          <p class="card-title">
            SEMESTER II
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Political Concepts And The Indian Political System</li>
            <li>Principles Of Management And Marketing</li>
            <li>Introduction To Psychology</li>
            <li>Translation Skills</li>
            <li>An Introduction To Litterateurs</li>
          </ul>

        </div>
      </div>

      <div class="col-12"><br></div>
      <h6 class="col-12">FY BMM PROGRAM</h6>
      <div class="card col-sm-12 col-md-5 ">
        <div class="card-body">
          <p class="card-title">
            SEMESTER I
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Fundamentals Of Mass Communication</li>
            <li>Introduction To Computers</li>
            <li>Landmark Events In 20th Century History</li>
            <li>Introduction To Sociology</li>
            <li>Introduction To Economics</li>
          </ul>
        </div>

      </div>


      <div class="card col-sm-12 col-md-5 ">
        <div class="card-body">
          <p class="card-title">
            SEMESTER II
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Political Concepts And The Indian Political System</li>
            <li>Principles Of Management And Marketing</li>
            <li>Introduction To Psychology</li>
            <li>Translation Skills</li>
            <li>An Introduction To Litterateurs</li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>