<nav class="navbar navbar-expand-lg navbar-dark w-100  bg-info" style="z-index: 10000;">
  <a class="navbar-brand" href="#"><i class="fas fa-arrow-left"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-info-circle"></i> About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-cubes"></i> Facilities</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-book"></i> Programs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-clipboard-list"></i> Rules</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"><i class="fas fa-address-book"></i> Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->
<div class="container my-3 bg-light p-2">
  <div class="row">
    <div class="image col-sm-12 col-md-6 col-lg-3 wow zoomIn">
      <img src="/assets/english.jpeg" class="w-100 h-auto" alt="">
    </div>
    <div class="descr col-sm-12 col-md-6 col-lg-9">
      <h4 class="wow fadeInDown">BACHELORS IN MASS MEDIA</h4>
      <h5 class="wow fadeInDown">ELIGIBILITY</h5>
      <div class="lead wow fadeInUp">
        A candidate for being eligible for admission to the three year degree course in Bachelor of Mass Media shall
        have passed the H.S.C. (Std. XII) examination of Maharashtra State Board of Higher Secondary Education or its
        equivalent from Science, Arts or Commerce Stream.
      </div>
    </div>
    <div class="content col-12  m-3  row justify-content-center">
      <h5 class="col-12 wow bounceInDown">PROGRAM STRUCTURE</h5>
      <h6 class="col-12">FY BMM PROGRAM</h6>
      <div class="card col-sm-12 col-md-5 wow fadeIn" data-wow-delay="500ms">
        <div class="card-body">
          <p class="card-title">
            SEMESTER I
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Fundamentals Of Mass Communication</li>
            <li>Introduction To Computers</li>
            <li>Landmark Events In 20th Century History</li>
            <li>Introduction To Sociology</li>
            <li>Introduction To Economics</li>
          </ul>
        </div>
      </div>
      <div class="card col-sm-12 col-md-5 wow fadeIn" data-wow-delay="700ms">
        <div class="card-body">
          <p class="card-title">
            SEMESTER II
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Effective Communication Skills–I</li>
            <li>Political Concepts And The Indian Political System</li>
            <li>Principles Of Management And Marketing</li>
            <li>Introduction To Psychology</li>
            <li>Translation Skills</li>
            <li>An Introduction To Litterateurs</li>
          </ul>

        </div>
      </div>
      <div class="col-12"><br></div>
      <h6 class="col-12">SY BMM PROGRAM</h6>
      <div class="card col-sm-12 col-md-5 wow fadeIn" data-wow-delay="300ms">
        <div class="card-body">
          <p class="card-title">
            SEMESTER III
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Introduction To Creative Writing</li>
            <li>Introduction To Culture Studies</li>
            <li>Introduction To Public Relations</li>
            <li>Introduction To Media Studies</li>
            <li>Understanding Cinema</li>
            <li>Advanced Computers</li>
          </ul>
        </div>

      </div>


      <div class="card col-sm-12 col-md-5 wow fadeIn" data-wow-delay="500ms">
        <div class="card-body">
          <p class="card-title">
            SEMESTER IV
          </p>
          <div class="dropdown-divider"></div>
          <ul>
            <li>Introduction To Advertising </li>
            <li>Introduction To Journalism</li>
            <li>Print Production And Photography</li>
            <li>Radio And Television</li>
            <li>Mass Media Research</li>
            <li>Organizational Behavior</li>
          </ul>

        </div>
      </div>

      <div class="col-12"><br></div>
      <h6 class="col-12">TY BMM PROGRAM</h6>
      <div class="card col-sm-12 col-md-5 wow fadeIn" data-wow-delay="900ms">
        <div class="card-body">
          <p class="card-title">
            SEMESTER V
          </p>
          <div class="dropdown-divider"></div>
          <h6>(Advertising) Specialization subjects </h6>
          <ul>
            <li>Advertising in Contemporary Society</li>
            <li>Copy Writing</li>
            <li>Advertising Design</li>
            <li>Consumer Behaviour</li>
            <li>Media Planning & Buying</li>
            <li>Brand Building</li>
          </ul>
          <h6>(Journalism) Specialization subjects </h6>
          <ul>
            <li>Reporting</li>
            <li>Editing</li>
            <li>Feature & Opinion</li>
            <li>Journalism & Public Opinion</li>
            <li>Indian Regional Journalism</li>
            <li>Newspaper and Magazine Making</li>
          </ul>
        </div>

      </div>

      <div class="card col-sm-12 col-md-5 wow fadeIn" data-wow-delay="1100ms">
        <div class="card-body">
          <p class="card-title">
            SEMESTER VI
          </p>
          <div class="dropdown-divider"></div>
          <h6>(Advertising) Specialization subjects </h6>
          <ul>
            <li>Advertising & Marketing research</li>
            <li>Legal Environment & Advertising Ethics</li>
            <li>Financial Management for Marketing & Advertising</li>
            <li>Agency Management</li>
            <li>Principles & Practices of Direct Marketing</li>
            <li>Contemporary Issues</li>
          </ul>
          <h6>(Journalism) Specialization subjects </h6>
          <ul>
            <li>Journalistic Laws & Ethics</li>
            <li>Broadcast Journalism</li>
            <li>Business & Magazine Journalism</li>
            <li>Internet & Issues in the Global Media</li>
            <li>New Media Management</li>
            <li>Contemporary Issues</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>