<section class="container-fluid py-3" id="about">
  <h1 class=" text-center">THAKUR COLLEGE OF SCIENCE</h1>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center wow fadeIn">
      <img class="w-100 " src="assets/TCS.jpg" alt="Second slide">
    </div>
    <div class="col-md-6 card">
      <p class="lead wow fadeInRight" data-wow-delay="500ms">Thakur College of Science is a leading college established in 2016 & affiliated
        to Mumbai
        University. TCS
        provides excellent infrastructure to facilitate the educator process and enhance the learning ability of the
        students. It fulfills all the norms & standard set by the University of Mumbai.</p>
      <p class="lead wow bounceInRight" data-wow-delay="1000ms">Our Institute code is <strong>4031</strong></p>
      <p class="lead wow fadeInUp" data-wow-delay="1500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Non facere quae cupiditate veniam dignissimos vitae reiciendis et vero quia nam provident enim adipisci
        blanditiis, quasi tempore rem! Numquam placeat quae cum illo, quidem modi laboriosam, qui quaerat veniam labore
        fugit!</p>
      <!-- <p class="lead wow fadeInUp" data-wow-delay="2000ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Non facere quae cupiditate veniam dignissimos vitae reiciendis et vero quia nam provident enim adipisci
        blanditiis, quasi tempore rem! Numquam placeat quae cum illo, quidem modi laboriosam, qui quaerat veniam labore
        fugit!</p> -->
    </div>
  </div>
</section>