<section class="container-fluid pb-3" id="about">
  <h1 class=" text-center ">THAKUR COLLEGE OF SCIENCE</h1>
  <div class="row justify-content-around align-items-center">
    <div class="col-md-6 text-center">
      <img class="w-100" src="assets/TCS.jpg" alt="Second slide">
    </div>
    <div class="col-md-6 ">
      <p class="lead">Thakur College of Science is a leading college established in 2016 & affiliated to Mumbai
        University. TCS
        provides excellent infrastructure to facilitate the educator process and enhance the learning ability of the
        students. It fulfills all the norms & standard set by the University of Mumbai.</p>
      <p class="lead">Our Institute code is <strong>4031</strong></p>
    </div>
  </div>
</section>