<section class="container-fluid p-5 ">
  <h1 class="display-4 text-center mb-5">THAKUR COLLEGE OF SCIENCE</h1>
  <div class="row justify-content-around align-items-center">
    <div class="col-md-6 text-center">
      <img class="w-100"  src="assets/TCS.jpg" alt="Second slide">
    </div>
    <div class="col-md-6 ">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio deleniti recusandae quaerat hic voluptas repellat
        sint fugit quibusdam odio, eos praesentium quos ducimus laborum quis temporibus ullam dolorem rerum vel delectus
        placeat fugiat harum voluptate. Sunt maiores quae quibusdam porro.</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio deleniti recusandae quaerat hic voluptas repellat
        sint fugit quibusdam odio, eos praesentium quos ducimus laborum quis temporibus ullam dolorem rerum vel delectus
        placeat fugiat harum voluptate. Sunt maiores quae quibusdam porro.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio deleniti recusandae quaerat hic voluptas repellat
        sint fugit quibusdam odio, eos praesentium quos ducimus laborum quis temporibus ullam dolorem rerum vel delectus
        placeat fugiat harum voluptate. Sunt maiores quae quibusdam porro.</p>
    </div>
  </div>
</section>