<section class="container-fluid py-3 pb-5 px-5 card bg-light">
  <h1 class=" text-info text-center ">PROGRAMS WE OFFER</h1>
  <div class="row justify-content-center ">
    <div (click)="routeToCourse()" class="course col-lg-3 col-sm-6 m-3 text-center cursor  py-3 wow fadeIn" [attr.data-wow-delay]="(i*200)+ 'ms'" *ngFor="let course of courses; let i = index">
      <img class="d-block m-auto" width="200" height="200" [src]="course.imageUrl"  alt="Second slide">
      <br>
      <h5 class="">{{course.title}}</h5>
      <p class="lead">{{course.subTitle}}</p>
      <p></p>
      <p class="text-center small">
          Sanctioned Intake: {{course.intake}}<br>
      </p>
    </div>
  </div>
</section>