<section class="container-fluid bg-info py-3 pb-5 ">
  <h1 class=" text-white text-center ">PROGRAMS WE OFFER</h1>
  <div class="row justify-content-around ">
    <div class="col-lg-3 col-sm-6 mx-2 my-3 text-center lighten-info text-light cursor  py-3" *ngFor="let course of courses">
      <img class="d-block m-auto" width="200" height="200" [src]="course.imageUrl"  alt="Second slide">
      <br>
      <h5 class="">{{course.title}}</h5>
      <p class="lead">{{course.subTitle}}</p>
      <p></p>
      <p class="text-center small">
          Sanctioned Intake: {{course.intake}}<br>
      </p>
    </div>
  </div>
</section>