<section class="container-fluid py-3 darken-info">
  <div class="container">
    <div class="row">
      <div class="col-10 m-auto">
        <h1 class="text-left text-light wow bounceInDown">CONTACT US</h1>
        <div class="grid">
          <div class="item address  card wow fadeInLeft" data-wow-delay="200ms">
            <div class="card-body row align-items-center">
              <div class="col">
                <h3 class="card-title">ADDRESS</h3>
                <address>
                  Shyamnarayan Thakur Marg, ठाकुर, Thakur Village, Kandivali East, Mumbai, Maharashtra 400101
                </address>
              </div>
              <div class="col">
                <i class="fas fa-phone text-info mr-3"></i> 022 2887 0627
                <br>
                <i class="fas fa-envelope text-info mr-3"></i> info@tcsc.com
              </div>
              <div class="col text-center">

              </div>
            </div>
          </div>
          <div class="item feedback card wow fadeIn" data-wow-delay="1500ms">
            <form action="" class="row justify-content-between">
              <div class="col-sm-12 col-md-6 ">
                <input type="text" id="name" name="name" placeholder="Name: ">
              </div>
              <div class="col-sm-12 col-md-6 ">
                <input type="text" id="company" name="company" placeholder="Company: ">
              </div>
              <div class="col-sm-12 col-md-6 ">
                <input type="email" id="email" name="email" placeholder="Email: ">
              </div>
              <div class="col-sm-12 col-md-6">
                <input type="text" id="phone" name="phone" placeholder="Phone: ">
              </div>
              <div class="col-sm-12 col-md-12">
                <textarea class="w-100" name="message" id="message" rows="10" placeholder="Message:"></textarea>
              </div>
            </form>
          </div>
          <div class="item map card cursor row justify-content-center align-items-center wow fadeInRight" data-wow-delay="400ms" id="map">
            <a href="https://www.google.co.in/maps/place/Thakur+College+of+Science+and+Commerce/@19.2058683,72.8736861,15z/data=!4m5!3m4!1s0x0:0x4be91c068af00f54!8m2!3d19.2058683!4d72.8736861"
              target="_blank"><i class="fas fa-map-marker-alt fa-9x text-danger"></i>
            </a>
            <br><br>
            <div class="row justify-content-center  w-100 bg-light p-2">
              <i class="fab fa-facebook fa-2x mr-3 text-primary"></i>
              <i class="fab fa-google-plus-square fa-2x mr-3 text-danger"></i>
              <i class="fab fa-twitter text-info fa-2x mr-3 text-primary"></i>
              <i class="fab fa-linkedin fa-2x mr-3 text-primary"></i>
            </div>
          </div>
          <div class="item send text-right">
            <button class="btn bg-info text-light wow zoomIn" data-wow-delay="3000ms">SEND MESSAGE</button>
          </div>
          <div class="item social row justify-content-center">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>